body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
}

p {
    text-align: center;
    font-size: 18px;
    margin: 10px;
}